
<script src="https://kit.fontawesome.com/9e343cbb97.js" crossorigin="anonymous"></script>
</body>
  <footer>
    <p class="footertext">© Copyright 2021 Harsh Vadaliya</p>
    <p class="footertext">Made with <i class="fas fa-heart colored"></i> in Rajkot.</p>
    <a href="https://harshvadaliya.herokuapp.com" class="link"><p class="footerlink">www <i class="fas fa-dice-d6"></i> Harsh <i class="fas fa-dice-d6"></i> com</p></a>
  </footer>
</html>
